@charset "UTF-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-color:#FAFAFA;
	font-family:montserrat,sans-serif;}
.navigation-container{
	position:relative;
	max-width:100%;
	padding:10px;
	margin:20px 30px;
	box-sizing:border-box;
	}
	.logo{
		color:#0C0B0B;
		height:60px;
		font-size:40px;
		line-height:60px;
		padding:0px 20px;
		text-align:center;
		box-sizing:border-box;
		float:left;
		font-weight:700;
		text-decoration:none;}
		.menu{
			float:right;}
			.fix{
				clear:both;}
				.menu ul{
					margin:0px;
					padding:0px;
					display:flex;
					}
					.menu ul li{
						list-style:none;}
				.menu ul li a{
					display:block;
					margin:10px 0px;
					padding:10px 20px;
					text-decoration:none;
					font-weight:700;
					font-size:16px;
					color:#0C0B0B;}
			.content-container{
				position:relative;
				max-width:100%;
				margin:100px 30px 30px;}
				.person{
					position:absolute;
					top:0;
					left:62%;
					height:469px;
					width:auto;}
					.person img{
						max-height:100%;
						max-width:100%;}
						h1{
							font-width:bold;
							margin:0px;
							color:#0C0B0B;}
p{
	font-size:14px;
	font-weight:100;
	line-height:20px;
	letter-spacing:0,5px;
	margin:20px 0px 30px;
	color:#282417;}
.text{
	left:0px;
	width:65%;
	display:flex;
	flex-direction:column;
	justify-cotnent:center;
	align-items:center;
	text-align:center;
	height:469px;}
input[type=button]{
	border:lpx solid #FAFAFA;
	border-radius:20px;
	background-color:#2493D8;
	font-size:12px;
	font-weight:bold;
	padding:12px 45px;
	letter-spacing:1px;
	text-transform:uppercase;
	outline:none;
	transition:transform 80ms ease-in;}
	input[type=button]:active{transform:scale(0,95)}
.social{
	position:absolute;
	bottom:40px;}
	.social ul li{
		list-style:none;}
		.social ul li a{
			text-decoration:none;
			color:#2493D8;}
.social i{
	padding:12px 20px;
	font-size:20px;}
	.fa-facebook-f:hover,
	.fa-linkedin:hover,
	.fa-instagram:hover{
		color:#FFFFFF;
		font-size:25px;}
.content{
	left:0px;
	width:70%;
	height:auto;
	display:flex;
	padding: 100px 165px;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:left;
	height:300px;
	line-height: 20px;
	}
.image2{
	position:absolute;
	top:700px;
	left:65%;
	height:300px;
	padding:120px;
	width:300px;}
	.image2 img{
		max-height:110%;
		max-width:110%;}


.lifecontent{
	left:10px;
	width:70%;
	display:flex;
	padding: 160px 190px;
	flex-direction:column;
	justify-cotnent:center;
	align-items:center;
	text-align:left;
	letter-spacing: 0px, 10px;
	}
.contactcontent{
	left:10px;
	width:70%;
	display:flex;
	padding: 160px 170px;
	flex-direction:column;
	justify-cotnent:center;
	align-items:center;
	text-align:center;
	letter-spacing: 0px, 10px;
	}
